/* font styles */

* {
    font-family: 'Open Sans', sans-serif;

}

body {
    margin: 0;
}

/* Navbar styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;


}

.nav-title {
    font-size: 30px;
    font-weight: 800;
    color: #5a5757;
}

.text-primary {
    color: #14AE5C;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 5px;
    background: #14AE5C;
    width: 80px;
    height: 33px;
    border: none;
    color: #fff;

}

/* Header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .banner-pic {
    width: 400px;
}

/* main styles */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }

/* About styles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 100px;
    margin: 130px 0px;
  
}

.heading {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}

.heading,
.about-description {
    text-align: center;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}

.info-description{
    font-size: 20px;
    font-weight: 400px;
    color: #757575;
}

.info-title{
    color:#474747;
    line-height: 0px;
    font-weight: 700px;
}

#skill-description{
    padding: 0 100px;
}

.skill-information{
    display: flex;
    margin: 50px 0;
}